* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, blue, rgb(4, 182, 4));
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 50px;
}
